{% extends 'user/layouts.html' %} 
{% block content %} 

<section id="body-content" class = "container">
    <div class = "row">
        <div class = "col-lg-3">
            <ul class="menu-profile">
                <li><img src="https://futabus.vn/images/header/profile/futaPay.svg" alt=""><span><a href="{{ url_for('futapay') }}">FUTAPay</a></span></li>
                <li><img src="https://futabus.vn/images/header/profile/Profile.svg" alt=""><span><a href="{{ url_for('profile') }}">Thông tin tài khoản</a></span></li>
                <li class="profile-active"><img src="https://futabus.vn/images/header/profile/History.svg" alt=""><span><a href="{{ url_for('history') }}">Lịch sử mua vé</a></span></li>
                <li><img src="https://futabus.vn/images/header/profile/Address.svg" alt=""><span><a href="">Địa chỉ của bạn</a></span></li>
                <li><img src="https://futabus.vn/images/header/profile/Password.svg" alt=""><span><a href="">Đặt lại mật khẩu</a></span></li>
                <li><img src="	https://futabus.vn/images/header/profile/Logout.svg" alt=""><span><a href="{{ url_for('logout') }}">Đăng xuất</a></span></li>
            </ul>
        </div>
        <div class = "col-lg-9">
             <div class="content-profile">
                <h5 style = "font-weight: 600;font-size:19px;">Lịch sử mua vé</h5>
                <p style ="color: #637280;">Theo dõi và quản lý quá trình lịch sử mua vé của bạn</p>
                <div class="history-pay">
                    <table class="custom-table">
                        <thead>
                            <tr style="height:60px;">
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mã giao dịch</th>
                                <th>Số tiền</th>
                                <th>Thời gian</th>
                                <th>Mã chuyến</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody style="height: 100%; margin-top: 50px;margin-bottom: 50px;">
                            {% if all_donve %}
                                {% for donve in all_donve %}
                                    <tr>
                                        <td style="padding-left: 40px;">{{ donve.Madon }}</td>
                                        <td>{{ donve.TongGia }} đ</td>
                                        <td><span style = "color: rgba(0, 0, 0, 0.662);">{{donve.GioTao }}</span> {{ donve.NgayTao }}</td>
                                        <td>{{ donve.MaChuyen }}</td>
                                        <td style="color: #098b4a;">Thanh toán thành công</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" style="text-align: center;padding-top: 50px; padding-bottom: 50px;">
                                        <img style="width: 60px;" src="{{ url_for('static', filename='img/folder.png') }}" alt="">
                                        <p style = "color: #D9D9D9;">No Data</p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>
</section>

{% endblock %}
