{% extends 'user/layouts.html' %} 
{% block content %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/bookingStep4.css') }}"/>
<section class="body-content-pay">
    <section class="ticket">
        <div class="container_pay">
            <div class="ticket-wrapper">
                <h3 class="ticket-title">thông tin mua vé</h3>
                <div class="ticket-customer ticket-block">
                    <div class="ticket-customer-sub">Thông tin hành khách</div>
                    <div class="ticket-block-list ticket-customer-list">
                        <div class="ticket-block-item ticket-customer-name">
                            <p class="ticket-block-label">Họ tên:</p>
                            <p class="ticket-block-value ticket-customer-name-value">{{customer_name}}</p>
                        </div>
                        <div class="ticket-block-item ticket-customer-email">
                            <p class="ticket-block-label">Email: </p>
                            <p class="ticket-block-value ticket-customer-email-value">{{customer_email}}</p>
                        </div>
                        <div class="ticket-block-item ticket-customer-phone" style = "margin-top:-15px;">
                            <p class="ticket-block-label">Số điện thoại: </p>
                            <p class="ticket-block-value ticket-customer-phone-value">{{customer_phone}}</p>
                        </div>
                    </div>
                </div>
                <div class="ticket-route ticket-block">
                    <div class="ticket-route-sub">
                        Thông tin chuyến:
                        <div class="ticket-route-sub-start">{{tenchuyenxe}}</div>
        
                    </div>
                    <div class="ticket-block-list ticket-route-list">
                        <div class="ticket-block-item ticket-route-routes">
                            <p class="ticket-block-label">Tuyến xe:</p>
                            <p class="ticket-block-value ticket-route-routes-value">
                                <span class="ticket-route-routes-departure">{{tenchuyenxe}}</span>
                            </p>
                        </div>
                        <div class="ticket-block-item ticket-route-count">
                            <p class="ticket-block-label">Số lượng ghế:</p>
                            <p class="ticket-block-value ticket-route-count-value">{{selectedlength}}</p>
                        </div>
                        <div class="ticket-block-item ticket-route-time" style = "margin-top:-15px;">
                            <p class="ticket-block-label">Thời gian: </p>
                            <p class="ticket-block-value ticket-route-time-value">
                                <span class="ticket-route-time-times">{{gio_khoi_hanh}}</span>
                                <span class="ticket-route-time-date">{{ngay_di}}</span>
                            </p>
                        </div>
                        <div class="ticket-block-item ticket-route-seats" style = "margin-top:-15px;">
                            <p class="ticket-block-label">Số ghế: </p>
                            <p class="ticket-block-value ticket-route-seats-value">
                                {% for seat in selected_seat_list %}
                                    <span class="ticket-route-seats-item">{{ seat }}</span>
                                    {% if not loop.last %},{% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        <div class="ticket-block-item ticket-route-pickup" style = "margin-top:-15px;">
                            <p class="ticket-block-label">Điểm lên xe:</p>
                            <p class="ticket-block-value ticket-route-pickup-value">
                                {{diadiemdi}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ticket-cost">
                    <p class="ticket-cost-sub" style="margin-bottom: -2px;">tổng tiền</p>
                    <p class="ticket-cost-value">{{total_price}}<span></span></p>
                </div>
            </div>
        </div>
    </section>
    <!-- payment method -->
    <section class="payment">
        <div class="container_pay">
            <h4 class="payment-title">chọn cách thanh toán</h4>
            <ul class="payment-list">
                <li class="payment-item payment-type-international">
                    <div class="payment-card">
                        <img src="{{ url_for('static', filename='img/booking4-payment-jcb.png') }}" alt="" class="payment-image">
                        <img src="{{ url_for('static', filename='img/booking4-payment-master.png') }}" alt="" class="payment-image">
                        <img src="{{ url_for('static', filename='img/booking4-payment-visa.png') }}" alt="" class="payment-image">
                    </div>
                    <div class="payment-des">Thẻ Quốc tế Visa/Master/JCB</div>
                    <input type="radio" name="choose-payment-method" id="" class="payment-radio">
                </li>
                <li class="payment-item payment-type-inland">
                    <div class="payment-card">
                        <img src="{{ url_for('static', filename='img/booking4-payment-napas.png') }}" alt="" class="payment-image">
                    </div>
                    <div class="payment-des">Thẻ ATM Nội địa</div>
                    <input type="radio" name="choose-payment-method" id="" class="payment-radio">
                </li>
                <li class="payment-item">
                    <div class="payment-card">
                        <img src="{{ url_for('static', filename='img/booking4-payment-futapay.png') }}" alt="" class="payment-image">
                    </div>
                    <div class="payment-des">Tài khoản FUTA Bus</div>
                    <input type="radio" name="choose-payment-method" id="futapay" class="payment-radio">
                </li>
                <li class="payment-item">
                    <div class="payment-card">
                        <img src="{{ url_for('static', filename='img/booking4-payment-momo.png') }}" alt="" class="payment-image">
                    </div>
                    <div class="payment-des">Ví MoMo</div>
                    <input type="radio" name="choose-payment-method" id="" class="payment-radio">
                </li>
                <li class="payment-item">
                    <div class="payment-card">
                        <img src="{{ url_for('static', filename='img/booking4-payment-zalopay.png') }}" alt="" class="payment-image">
                    </div>
                    <div class="payment-des">Ví ZaloPay</div>
                    <input type="radio" name="choose-payment-method" id="" class="payment-radio">
                </li>
                <li class="payment-item">
                    <div class="payment-card">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vnpay.png') }}" alt="" class="payment-image">
                    </div>
                    <div class="payment-des">VNPay</div>
                    <input type="radio" name="choose-payment-method" id="" class="payment-radio">
                </li>
                <li class="payment-item">
                    <div class="payment-card">
                        <img src="{{ url_for('static', filename='img/booking4-payment-shopee.png') }}" alt="" class="payment-image">
                    </div>
                    <div class="payment-des">Ví ShopeePay</div>
                    <input type="radio" name="choose-payment-method" id="" class="payment-radio">
                </li>
            </ul>
            <!-- <div class="payment-linking">
                <p class="payment-linking-text">Danh sách ngân hàng liên kết:</p>
                <ul class="payment-international">
                    <li class="payment-international-item">
                        <img src=" {{ url_for('static', filename='img/booking4-payment-jcblast.png') }}" alt="">
                    </li>
                    <li class="payment-international-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-mastercard.png') }}" alt="">
                    </li>
                    <li class="payment-international-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-visabottom.png') }}" alt="">
                    </li>
                </ul>
                <ul class="payment-inland">
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-acb.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-bidv.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietink.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-martin.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-kienlong.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-saccombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-acb.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-bidv.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietink.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-martin.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-kienlong.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-saccombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-acb.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-bidv.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietink.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-martin.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-kienlong.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-saccombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-acb.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-bidv.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietink.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-martin.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-kienlong.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-acb.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-bidv.png') }}" alt="">
    
                    </li>
                    <li class="payment-inland-item">
                        <img src="{{ url_for('static', filename='img/booking4-payment-vietcombank.png') }}" alt="">
    
                    </li>
                </ul>
            </div> -->
        </div>
    </section>
    <!-- step nav -->
    <section class="step-nav">
        <div class="mini-container_pay">
            <div class="step-nav-control">
                <div class="step-nav-button step-prev-btn">
                    <img src="{{ url_for('static', filename='img/back.png') }}" alt="" style="width:14px;margin-top: 4px;margin-right: 2px;">
                    Quay lại
                </div>
                <div class="step-nav-button step-pay-btn" data-ma-chuyen="{{ma_chuyen}}">
                    Xác nhận
                </div>
            </div>
        </div>
    </section>
    <!-- error -->
    <section class="error">
        <ul class="error-list">
            <li class="error-item">fs</li>
        </ul>
    </section>
</section>


<script type="text/javascript" src="{{ url_for('static', filename='js/bookingStep4.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/validation_booking4.js') }}"></script>
<script>
 document.addEventListener('DOMContentLoaded', function () {
    var confirmButton = document.querySelector('.step-pay-btn');
    var momoRadioButton = document.getElementById('futapay');
    var customerName = document.querySelector('.ticket-customer-name-value').textContent;
    var customerEmail = document.querySelector('.ticket-customer-email-value').textContent;
    var customerPhone = document.querySelector('.ticket-customer-phone-value').textContent;
    var tenChuyenXe = document.querySelector('.ticket-route-routes-departure').textContent;
    var gioKhoiHanh = document.querySelector('.ticket-route-time-times').textContent;
    var ngayDi = document.querySelector('.ticket-route-time-date').textContent;
    var selectedSeats = document.querySelectorAll('.ticket-route-seats-item');
    var diadiemdi = document.querySelector('.ticket-route-pickup-value').textContent;
    var totalPrice = document.querySelector('.ticket-cost-value').textContent;
    var maChuyen = encodeURIComponent(confirmButton.getAttribute('data-ma-chuyen'));

    confirmButton.addEventListener('click', function () {
        if (!momoRadioButton.checked) {
            alert('Hệ thống hiện chỉ chấp nhận thanh toán qua Ví FUTAPAY.');
        } else {
            var selectedSeatList = Array.from(selectedSeats).map(seat => seat.textContent);
            var selectedSeatsString = selectedSeatList.join(', ');
            

            var url = '/confirm_payment' + 
                '?ma_chuyen=' + encodeURIComponent(maChuyen) +
                '&customer_name=' + encodeURIComponent(customerName) +
                '&customer_email=' + encodeURIComponent(customerEmail) +
                '&customer_phone=' + encodeURIComponent(customerPhone) +
                '&tenchuyenxe=' + encodeURIComponent(tenChuyenXe) +
                '&gio_khoi_hanh=' + encodeURIComponent(gioKhoiHanh) +
                '&ngay_di=' + encodeURIComponent(ngayDi) +
                '&selected_seat_list=' + encodeURIComponent(selectedSeatsString) +
                '&diadiemdi=' + encodeURIComponent(diadiemdi) +
                '&total_price=' + encodeURIComponent(totalPrice);
                
            window.location.href = url;
        }
    });
});
</script>
{% endblock %}
