{% extends 'user/layouts.html' %} 
{% block content %} 

<section id="body-content">
    <div id="quick-booking" class="container">
        <div id="booking-wrapper">
       
            <form action="" class="form-inline">
                <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-ms-12">
                    <label for="">Điểm khởi hành</label>
                    <select name="" id="" class="form-control">
                        <option value="">Chọn thành phố</option>
                        
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-ms-12">
                    <label for="">Điểm đến</label>
                    <select name="" id="" class="form-control">
                        <option value="">Chọn thành phố</option>
                        
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-ms-12">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 col-ms-12">
                            <label for="">Ngày khởi hành</label>
                            <input type="text" name="" placeholder="dd-mm-yyyy" class="form-control" size="8"/>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 col-ms-12">
                            <label for="">Số lượng vé</label>
                            <input type="number" name="" value="1" class="form-control" size="1" min="1" max="99"/>
                            
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 col-ms-12">
                            <button type="submit" class="btn btn-block btn-primary btn-flat"><i class="fa fa-ticket icon-flat bg-btn-actived"></i>  Mua vé</button>
                            
                        </div>
                        
                    </div>
                </div>    
                
                
                
                </div>
                
            </form>
        
        </div>
    </div>
    
    <div id="head-banner" class="container">
        <a href="">
            <img src="{{ url_for('static', filename='res/khuyenmai.jpg') }}">
        </a>
    </div>
    
    <div id="news-block" class="container">
        <div class="news-items">
            <div class="news-title">
                <h3 class="text-uppercase text-primary">Mừng diện mạo mới của FUTA Bus Lines</h3>
            </div>
            <div class="news-contents">
                <div class="row">
                    <div class="news-item-l col-lg-5 col-md-5 col-sm-5 col-xs-12 col-ms-12">
                        <img src="{{ url_for('static', filename='res/news1.jpg') }}">
                    </div>
                    <div class="news-item-r col-lg-7 col-md-7 col-sm-7 col-xs-12 col-ms-12">
                        <div class="news-items-service">
                            <span class="water sprite"></span>
                            <span class="khan sprite"></span>
                            <span class="wifi sprite"></span>
                            <span class="tivi sprite"></span>
                            <a href="#" class="btn btn-primary">
                                Đặt vé
                                <i class="fa fa-angle-double-right"></i>
                            
                            </a>
                        </div>
                        <div class="news-items-ecerpt">
                            <p class="text-uppercase text-primary">Tích điểm đổi quà</p>
                            <p>Ngày: 12/10/2015 - 14/10/2015</p>
                            <p><strong>20 điểm: </strong>1 nón phương trang xinh xắn</p>
                            <p><strong>40 điểm: </strong>1 balo du lịch Phương Trang</p>
                            <p><strong>60 điểm: </strong>1 vé phương trang miễn phí</p>
                            
                        </div>
                        
                        
                    </div>
                </div>
                <p class="clearfix">
                <a href="javascript:void(0)" onclick="jQuery('#news1').slideToggle()" class="pull-right">Xem thêm <i class="fa fa-angle-double-right"></i> </a>
                </p>
                <div id="news1" class="toggle-more" style="display:none">
                    <p>
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                        consetetur sadipscing elitr, 
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </p>
                    <p>
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>
                
            </div>
            
        </div>
        
        <div class="news-items">
            <div class="news-title">
                <h3 class="text-uppercase text-primary">Mua vé giờ vàng</h3>
            </div>
            <div class="news-contents">
                <div class="row">
                    <div class="news-item-l col-lg-5 col-md-5 col-sm-5 col-xs-12 col-ms-12">
                        <img src="{{ url_for('static', filename='res/news2.jpg') }}">
                    </div>
                    <div class="news-item-r col-lg-7 col-md-7 col-sm-7 col-xs-12 col-ms-12">
                        <div class="news-items-service">
                            <span class="water sprite"></span>
                            <span class="khan sprite"></span>
                            <span class="wifi sprite"></span>
                            <span class="tivi sprite"></span>
                             <a href="#" class="btn btn-primary">
                                Đặt vé
                                <i class="fa fa-angle-double-right"></i>
                            
                            </a>
                        </div>
                        <div class="news-items-ecerpt">
                            <p class="text-uppercase text-primary">CƠ hội mua vé với giá 0đ hoặc giảm 50%</p>
                            <table class="table">
                                <tr>
                                    <td>Sài gòn</td>
                                    <td><img src="{{ url_for('static', filename='img/go.jpg') }}"></td>
                                    <td>Nha Trang</td>
                                    <td>11h00 - 12h00</td>
                                    <td>
                                        <a class="btn btn-primary btn-block" href="#">
                                            Mua vé <i class="fa fa-angle-double-right"></i>
                                        </a>    
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sài gòn</td>
                                    <td><img src="{{ url_for('static', filename='img/go.jpg') }}"></td>
                                    <td>Nha Trang</td>
                                    <td>11h00 - 12h00</td>
                                    <td>
                                        <a class="btn btn-primary btn-block" href="#">
                                            Mua vé <i class="fa fa-angle-double-right"></i>
                                        </a>    
                                    </td>
                                </tr>
                            </table>
                            <p class="text-muted">Chỉ áp dụng cho khách hàng tải app và sử dụng app để đặt vé</p>
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
            
        </div>
        
        <div class="news-items">
            <div class="news-title">
                <h3 class="text-uppercase text-primary">Thảnh thơi đặt vé chẳng lo xếp hàng</h3>
            </div>
            <div class="news-contents">
                <div class="row">
                    <div class="news-item-l col-lg-5 col-md-5 col-sm-5 col-xs-12 col-ms-12">
                        <img src="{{ url_for('static', filename='res/gio-vang.jpg') }}">
                    </div>
                    <div class="news-item-r col-lg-7 col-md-7 col-sm-7 col-xs-12 col-ms-12">
                        <div class="news-items-service">
                            <span class="water sprite"></span>
                            <span class="khan sprite"></span>
                            <span class="wifi sprite"></span>
                            <span class="tivi sprite"></span>
                            <a href="" class="btn btn-primary">
                                Đặt vé
                                <i class="fa fa-angle-double-right"></i>
                            
                            </a>
                        </div>
                        <div class="news-items-ecerpt">
                           <p>Với mỗi <strong class="text-primary">2 vé</strong>mua trong tháng 10. Bạn sẽ được giữ chỗ đến dịp tết 2015. </p>
                            
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
    
    
</section>

<section id="body-news" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="items-news text-center">
                <img src="{{ url_for('static', filename='img/customer.png') }}"/>
                <h5>
                    <a href="">Hơn 20 khách hàng</a>
                    
                </h5>
                <p>Phương trang phục vụ hơn 20 triệu khách hàng trên toàn quốc</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="items-news text-center">
                <img src="{{ url_for('static', filename='img/home.png') }}"/>
                <h5>
                    <a href="">Hơn 20 khách hàng</a>
                   
                </h5>
                 <p>Phương trang phục vụ hơn 20 triệu khách hàng trên toàn quốc</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12">
            <div class="items-news text-center">
                <img src="{{ url_for('static', filename='img/tech.png') }}"/>
                <h5>
                    <a href="">Hơn 20 khách hàng</a>
                   
                </h5>
                 <p>Phương trang phục vụ hơn 20 triệu khách hàng trên toàn quốc</p>
            </div>
        </div>
    </div>
</section>

<section id="body-service" class="container">
    <h3 class="heading">Các dịch vụ của phương trang</h3>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ms-6">
            <div class="service-items">
                <a href="#">
                    <h5>Vận chuyển hàng hóa</h5>
                    <img src="{{ url_for('static', filename='img/service.jpg') }}">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ms-6">
            <div class="service-items">
                <a href="#">
                    <h5>Vận chuyển hành khách</h5>
                    <img src="{{ url_for('static', filename='img/service.jpg') }}">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ms-6">
            <div class="service-items">
                <a href="#">
                    <h5>Khách sạn</h5>
                    <img src="{{ url_for('static', filename='img/service.jpg') }}">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ms-6">
            <div class="service-items">
                <a href="#">
                    <h5>Trạm dừng</h5>
                    <img src="{{ url_for('static', filename='img/service.jpg') }}">
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
