{% extends 'user/layouts.html' %}
{% block content %}

<section id="body-content">
    <div id="quick-booking" class="container">
        <div id="booking-wrapper">

            <form action="/schedule" method="post" class="form-inline">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-ms-12">
                        <label for="">Điểm khởi hành</label>
                        <select name="departure" id="departure" class="form-control">
                            <option value="">Chọn thành phố</option>
                            {% for dep in departure %}
                            <option value="{{ dep }}">{{ dep }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-ms-12">
                        <label for="">Điểm đến</label>
                        <select name="destination" id="destination" class="form-control">
                            <option value="">Chọn thành phố</option>
                            {% for dep in destination %}
                            <option value="{{ dep }}">{{ dep }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-ms-12">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 col-ms-12">
                                <label for="">Ngày khởi hành</label>
                                <input type="text" id="departure_date" name="departure_date" placeholder="dd-mm-yyyy"
                                    class="form-control" size="8" />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 col-ms-12">
                                <label for="">Số lượng vé</label>
                                <input type="number" name="num_tickets" id="num_tickets" value="1" class="form-control" size="1" min="1" max="99" />

                            </div>
                            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12 col-ms-12">
                                <button type="submit" class="btn btn-block btn-primary btn-flat"><i
                                        class="fa fa-ticket icon-flat bg-btn-actived"></i>Tìm vé</button>

                            </div>

                        </div>
                    </div>



                </div>

            </form>

        </div>
    </div>

    <div id="head-banner" class="container">
        <a href="">
            <img src="{{ url_for('static', filename='res/head-lichtrinh.jpg' ) }}">
        </a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 col-ms-12">
                <h3 class="text-primary text-uppercase">Tuyến đường</h3>
                <div class="section-list">
                    <style>
                        .table tbody tr {
                            height: 80px;
                        }
                    </style>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="text-white bg-primary">
                                <th scope="col">STT</th>
                                <th scope="col" style="width: 300px">Tên Tuyến Xe</th>
                                <th scope="col">Quãng Đường</th>
                                <th scope="col" style="width: 160px">Thời Gian Hành Trình</th>
                                <!-- <th scope="col"></th> -->
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuyen_xe in result %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ tuyen_xe['TenTuyenXe'] }}</td>
                                <td>{{ tuyen_xe['QuangDuong'] }}</td>
                                <td>{{ tuyen_xe['ThoiGianHanhTrinh'] }}</td>
                                <!-- <td>
                                    <a href="#" class="btn btn-success">Góp ý <i class="fa fa-comment"></i></a>
                                </td> -->
                                <td>
                                    <a href="/trip?ten_tuyen_xe={{ tuyen_xe['TenTuyenXe'] }}"
                                        class="btn btn-primary">Tìm chuyến <i class="fa fa-angle-double-right"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-ms-12">
                <h3 class="text-primary text-uppercase"><i class="fa fa-map-marker fa-2x text-success"></i> Bản đồ tuyến
                </h3>
                <div id="map-affix">
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/maps.jpg') }}">
                    </a>
                </div>

            </div>
        </div>
    </div>

</section>
<script>
    $(document).ready(function () {
        $('#departure_date').datepicker({
            format: 'dd-mm-yyyy',
            startDate: 'today', // Chỉ cho phép chọn các ngày lớn hơn hoặc bằng ngày hiện tại
            language: 'vi' // Đặt ngôn ngữ cho DatePicker (nếu cần)
        });
    });
</script>
{% endblock %}