{% extends 'user/layouts.html' %} 
{% block content %} 
<link rel='stylesheet' id='theme-style-css'  href="{{ url_for('static', filename='css/bookingStep2.css') }}" type='text/css' media='all' />
<section id="body-content" style = "margin-bottom: 100px;">
    <div id="steps" class="container">
        <ul class="list-step clearfix">
            <li  class="active">Chọn chuyến <span></span> </li>
            <li>Chọn ghế <span></span></li>
            <li>Thanh toán <span></span></li>
        </ul>
    </div>

    <div class = "row" id="content-steps" style = "margin: auto; width:73%">
        <div class = "filter-trip col-lg-4">
            <div class="filter-section">
                <p>BỘ LỌC TÌM KIẾM</p>
            </div>
            <div class="departure-time-section">
                <p>Giờ đi</p>
                <div style = "margin-left: 20px;">
                    <input type="checkbox" id="sangSom" name="thoiGian" value="sangSom">
                    <label for="sangSom">Sáng sớm 00:00 - 06:00</label><br>
    
                    <input type="checkbox" id="buoiSang" name="thoiGian" value="buoiSang">
                    <label for="buoiSang">Buổi sáng 06:00 - 12:00</label><br>
    
                    <input type="checkbox" id="buoiChieu" name="thoiGian" value="buoiChieu">
                    <label for="buoiChieu">Buổi chiều 12:00 - 18:00</label><br>
    
                    <input type="checkbox" id="buoiToi" name="thoiGian" value="buoiToi">
                    <label for="buoiToi">Buổi tối 18:00 - 24:00</label><br>
                </div>
                <style>
                    input[type="checkbox"] {
                    width: 20px; /* Độ rộng */
                    height: 20px; /* Chiều cao */
                    margin-right: 5px; /* Khoảng cách với nhãn */
                    margin-bottom: 12px;
                    vertical-align: middle;
                    cursor: pointer;
                }
                label {
                    color: #00000097;
              
                    display: inline-block; /* Để nhãn trở thành một khối inline-block */
                     vertical-align: middle; /
                }
                </style>
               
            </div>
            <hr>
            <div class="vehicle-type-section">
                <p style="margin-bottom:15px;">Loại xe</p>
                <div class="type-car">
                    <!-- <div class="item-type-car" onclick="toggleCheckbox(this, 'loaiXe_')">
                        Ghế
                        <input type="hidden" name="loaiXe_ghế" value="0">
                    </div> -->
                    <div class="item-type-car" onclick="toggleCheckbox(this, 'loaiXe_')">
                        Giường
                        <input type="hidden" name="loaiXe_giường" value="0">
                    </div>
                    <div class="item-type-car" onclick="toggleCheckbox(this, 'loaiXe_')">
                        Limousine
                        <input type="hidden" name="loaiXe_limousine" value="0">
                    </div>
                </div>
            </div>
            <hr>
            <div class="seat-type-section">
                <p style="margin-bottom:15px;">Hàng ghế</p>
                <div class="type-car">
                    <div class="item-Row-seats" onclick="toggleCheckbox(this, 'hangGhe_')">
                        <input type="hidden" value="0">
                        Hàng đầu
                    </div>
                    <div class="item-Row-seats" onclick="toggleCheckbox(this, 'hangGhe_')">
                        <input type="hidden" value="0">
                        Hàng giữa
                    </div>
                    <div class="item-Row-seats" onclick="toggleCheckbox(this, 'hangGhe_')">
                        <input type="hidden" value="0">
                        Hàng cuối
                    </div>
                </div>
            </div>
            <hr>
            <div class="floor-section">
                <p style="margin-bottom:15px;">Tầng</p>
                <div class="type-car">
                    <div class="item-floor" onclick="toggleCheckbox(this, 'tang_')">
                        <input type="hidden" value="0">
                        Tầng trên
                    </div>
                    <div class="item-floor" onclick="toggleCheckbox(this, 'tang_')">
                        <input type="hidden" value="0">
                        Tầng dưới
                    </div>
                </div>
            </div>
        </div>
        <div class = "list-trip col-lg-8">
            <section class="topic" style="margin-top: -30px;">
                <div class="mini-container">
                    <h2 class="topic-route">
                        <span class="topic-route-departure topic-route-item" id = "topic-route-departure">{{ID_buses}}</span>
                    </h2>
            
                </div>
            </section>
            <section class="route" style = "margin-top: -60px;">
                <div class="mini-container">
                    <ul class="route-list" id="route-list" style = "list-style-type: none;">
                        {% for chuyen_xe in list_buses %}
                        <li class="route-item">
                            <div class="route-head">
                                <div class="route-head-top">
                                    <div class="route-head-timespan">
                                        <span class="route-head-timestart">{{ chuyen_xe['GioKhoiHanh'] }}</span>
                                    <img src="https://futabus.vn/images/icons/pickup.svg" alt="">
                                        <img src="{{ url_for('static', filename='img/booking2-route-arrwo.png') }}" alt="" class="route-head-arrow">
                                        <img src="https://futabus.vn/images/icons/station.svg" alt="">
                                        <span class="route-head-timeend">{{ chuyen_xe['GioDen'] }}
                                        </span>
                                    </div>
                                    <div class="route-head-service">
                                        <p>{{ chuyen_xe['NgayDi'] }}</p>
                                    </div>
                                </div>
                                <div class="route-head-des" style = "width: 300px;">
                                    <!-- <div class="route-head-cost" style = "color: #ef5222;font-weight: 600;">165.000đ</div>
                                    &#9679; -->
                                    <div class="route-head-type">{{ chuyen_xe['LoaiXe'] }}</div>
                                    &#9679;
                                    <div class="route-head-rest">Còn {{ chuyen_xe['SoLuongGheTrong'] }} chỗ trống</div>
                                </div>
                                <div class="route-head-detail">
                                    <div class="route-head-line-place">
                                        <i class="fa-solid fa-circle-dot"></i>
                                        <div class="route-head-line-connect"></div>
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="route-head-content-detail">
                                        <div class="route-head-departure">{{ chuyen_xe['DiaDiemDi'] }}</div>
                                        <div class="route-head-content">Xe tuyến: <span class="route-head-content-value">{{distance}} -
                                                {{travel_time}}</span>
                                        </div>
                                        <div class="route-head-destination">{{ chuyen_xe['DiaDiemDen'] }}</div>
                                    </div>
                                </div>
                                <div class="route-price">
                                    {{ chuyen_xe['Gia'] }}đ
                                </div>
                                <div class="route-button" 
                                data-ma-chuyen="{{ chuyen_xe['MaChuyen'] }}">
                                    Chọn chuyến
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>

    </div>

</section>

<script>
    function toggleCheckbox(element, prefix) {
        var checkboxes = document.querySelectorAll(`input[name^="${prefix}"]`);
        checkboxes.forEach(function(checkbox) {
            checkbox.value = '0';
            checkbox.parentNode.style.color = '#000000d0';
            checkbox.parentNode.style.borderColor = '#6a6a6a4b';
        });

        var hiddenInput = element.querySelector('input[type="hidden"]');
        hiddenInput.value = '1';
        element.style.color = '#ef5222';
        element.style.borderColor = '#ef5222';
    }
</script>

<script>
    document.querySelectorAll('input[name="thoiGian"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            if (this.checked) {
                var selectedTime = this.value;
                var ID_buses = document.getElementById('topic-route-departure').innerText;
                fetch(`/filter?time=${selectedTime}&name=${ID_buses}`)
                .then(response => response.json())
                .then(data => {
                    // Xử lý dữ liệu trả về từ API
                    var listBuses = data;
                    var listContainer = document.getElementById('route-list');
                    listContainer.innerHTML = '';

                    listBuses.filtered_buses.forEach(chuyen_xe => {
                        var listItem = document.createElement('li');
                        listItem.classList.add('route-item');
                        listItem.innerHTML = `
                        <div class="route-head">
                            <div class="route-head-top">
                            <div class="route-head-timespan">
                                <span class="route-head-timestart">${chuyen_xe['GioKhoiHanh']}</span>
                                <img src="https://futabus.vn/images/icons/pickup.svg" alt="">
                                <img src="{{ url_for('static', filename='img/booking2-route-arrwo.png') }}" alt="" class="route-head-arrow">
                                <img src="https://futabus.vn/images/icons/station.svg" alt="">
                                <span class="route-head-timeend">${chuyen_xe['GioDen']}</span>
                            </div>
                            <div class="route-head-service">
                                <p>${chuyen_xe['NgayDi']} </p>
                            </div>
                            </div>
                            <div class="route-head-des" style="width: 300px;">
                                <div class="route-head-type">${chuyen_xe['LoaiXe']}</div>
                                &#9679;
                                <div class="route-head-rest">Còn ${chuyen_xe['SoLuongGheTrong']} chỗ trống</div>
                            </div>
                            <div class="route-head-detail">
                                <div class="route-head-line-place">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <div class="route-head-line-connect"></div>
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="route-head-content-detail">
                                    <div class="route-head-departure">${chuyen_xe['DiaDiemDi']}</div>
                                    <div class="route-head-content">Xe tuyến: <span class="route-head-content-value">{{distance}} - {{travel_time}}</span></div>
                                    <div class="route-head-destination">${chuyen_xe['DiaDiemDen']}</div>
                                </div>
                            </div>
                            <div class="route-price">
                                ${chuyen_xe['Gia']}đ
                            </div>
                            <div class="route-button" data-ma-chuyen="${ chuyen_xe['MaChuyen'] }">
                                    Chọn chuyến
                                </div>
                        </div>
                        `;
                    listContainer.appendChild(listItem);
                });
                })
                .catch(error => console.error('Error:', error));
            }
            else{
                var selectedTime = this.value;
                var ID_buses = document.getElementById('topic-route-departure').innerText;
                fetch(`/filter?name=${ID_buses}`)
                .then(response => response.json())
                .then(data => {
                    // Xử lý dữ liệu trả về từ API
                    var listBuses = data;
                    var listContainer = document.getElementById('route-list');
                    listContainer.innerHTML = '';

                    listBuses.filtered_buses.forEach(chuyen_xe => {
                        var listItem = document.createElement('li');
                        listItem.classList.add('route-item');
                        listItem.innerHTML = `
                        <div class="route-head">
                            <div class="route-head-top">
                            <div class="route-head-timespan">
                                <span class="route-head-timestart">${chuyen_xe['GioKhoiHanh']}</span>
                                <img src="https://futabus.vn/images/icons/pickup.svg" alt="">
                                <img src="{{ url_for('static', filename='img/booking2-route-arrwo.png') }}" alt="" class="route-head-arrow">
                                <img src="https://futabus.vn/images/icons/station.svg" alt="">
                                <span class="route-head-timeend">${chuyen_xe['GioDen']}</span>
                            </div>
                            <div class="route-head-service">
                                <p>${chuyen_xe['NgayDi']} </p>
                            </div>
                            </div>
                            <div class="route-head-des" style="width: 300px;">
                                <div class="route-head-type">${chuyen_xe['LoaiXe']}</div>
                                &#9679;
                                <div class="route-head-rest">Còn ${chuyen_xe['SoLuongGheTrong']} chỗ trống</div>
                            </div>
                            <div class="route-head-detail">
                                <div class="route-head-line-place">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <div class="route-head-line-connect"></div>
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="route-head-content-detail">
                                    <div class="route-head-departure">${chuyen_xe['DiaDiemDi']}</div>
                                    <div class="route-head-content">Xe tuyến: <span class="route-head-content-value">{{distance}} - {{travel_time}}</span></div>
                                    <div class="route-head-destination">${chuyen_xe['DiaDiemDen']}</div>
                                </div>
                            </div>
                            <div class="route-price">
                                ${chuyen_xe['Gia']}đ
                            </div>
                            <div class="route-button" data-ma-chuyen="${ chuyen_xe['MaChuyen'] }">
                                    Chọn chuyến
                                </div>
                        </div>
                        `;
                    listContainer.appendChild(listItem);
                });
                })
                .catch(error => console.error('Error:', error));
            }
        });
    });
    document.querySelectorAll('.item-type-car').forEach(function(item) {
        item.addEventListener('click', function() {
            var checkbox = this.querySelector('input[type="hidden"]');
            console.log(checkbox.value)
            var selectedCarType;
            if (checkbox.value === '1') {
                selectedCarType = this.textContent.trim();
            }
            else{
                selectedCarType = '0';
            }
            var selectedTimeCheckbox = document.querySelector('input[name="thoiGian"]:checked');
            var selectedTime;
            if (selectedTimeCheckbox) {
                selectedTime = selectedTimeCheckbox.value;
                console.log(selectedTime);
            } else {
                console.log("Không có giờ được chọn.");
            }
            var ID_buses = document.getElementById('topic-route-departure').innerText;
            fetch(`/filter?time=${selectedTime}&name=${ID_buses}&type=${selectedCarType}`)
            .then(response => response.json())
            .then(data => {
                // Xử lý dữ liệu trả về từ API
                var listBuses = data;
                var listContainer = document.getElementById('route-list');
                listContainer.innerHTML = '';

                listBuses.filtered_buses.forEach(chuyen_xe => {
                    var listItem = document.createElement('li');
                    listItem.classList.add('route-item');
                    listItem.innerHTML = `
                    <div class="route-head">
                            <div class="route-head-top">
                            <div class="route-head-timespan">
                                <span class="route-head-timestart">${chuyen_xe['GioKhoiHanh']}</span>
                                <img src="https://futabus.vn/images/icons/pickup.svg" alt="">
                                <img src="{{ url_for('static', filename='img/booking2-route-arrwo.png') }}" alt="" class="route-head-arrow">
                                <img src="https://futabus.vn/images/icons/station.svg" alt="">
                                <span class="route-head-timeend">${chuyen_xe['GioDen']}</span>
                            </div>
                            <div class="route-head-service">
                                <p>${chuyen_xe['NgayDi']} </p>
                            </div>
                            </div>
                            <div class="route-head-des" style="width: 300px;">
                                <div class="route-head-type">${chuyen_xe['LoaiXe']}</div>
                                &#9679;
                                <div class="route-head-rest">Còn ${chuyen_xe['SoLuongGheTrong']} chỗ trống</div>
                            </div>
                            <div class="route-head-detail">
                                <div class="route-head-line-place">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <div class="route-head-line-connect"></div>
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="route-head-content-detail">
                                    <div class="route-head-departure">${chuyen_xe['DiaDiemDi']}</div>
                                    <div class="route-head-content">Xe tuyến: <span class="route-head-content-value">{{distance}} - {{travel_time}}</span></div>
                                    <div class="route-head-destination">${chuyen_xe['DiaDiemDen']}</div>
                                </div>
                            </div>
                            <div class="route-price">
                                ${chuyen_xe['Gia']}đ
                            </div>
                            <div class="route-button" 
                                data-ma-chuyen="${ chuyen_xe['MaChuyen'] }">
                                    Chọn chuyến
                                </div>
                        </div>
                    `;
                    listContainer.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>

<script>
    document.getElementById('route-list').addEventListener('click', function(event) {
    if (event.target.classList.contains('route-button')) {
        const maChuyen = event.target.dataset.maChuyen;
        // Chuyển qua trang booking với các tham số dữ liệu
        window.location.href = `/booking?ma_chuyen=${maChuyen}`;
    }
});

</script>
{% endblock %}
