{% extends 'admin/layouts.html' %}
{% block content %}
<section class="data ">
    <div class="data-overlay"></div>
    <div class="data-confirm">
        <div class="data-popup-title">Xác nhận</div>
        <div class="data-confirm-icon"><i class='bx bxs-message-rounded-x'></i></div>
        <p class="data-confirm-txt">
            Bạn có chắc chắn muốn xóa dữ liệu này không?
        </p>
        <p class="data-confirm-txt">Hành động này sẽ xóa dữ liệu và có thể gây ra lỗi trong
            hệ thống!</p>
        <div class="data-confirm-button">
            <div class="data-confirm-cancel">Cancel</div>
            <div class="data-confirm-remove">Accept</div>
        </div>
    </div>

    <div class="data-popup">
        <div class="data-popup-title">Sửa dữ liệu</div>
        <div class="data-popup-close"><i class='bx bx-x'></i></div>
        <form action="" class="data-form admin-form form-validation">
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-phone">Số điện thoại</label>
                <input class="data-form-input" type="text" name="customer-phone" id="customer-phone">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-mail">Email</label>
                <input class="data-form-input" type="text" name="customer-mail" id="customer-mail">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-name">Username</label>
                <input class="data-form-input" type="text" name="customer-username" id="customer-username">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-name">Họ Và Tên</label>
                <input class="data-form-input" type="text" name="customer-name" id="customer-name">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-cmnd">Mật khẩu</label>
                <input class="data-form-input" type="text" name="customer-cmnd" id="customer-cmnd">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-dob">Ngày sinh</label>
                <input class="data-form-input" type="date" name="customer-dob" id="customer-dob">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-balance">Số dư</label>
                <input class="data-form-input" type="text" name="customer-balance" id="customer-balance">
            </div>
            <div class="form-submit data-form-submit">
                <div class="data-form-btn data-form-clear">clear all</div>
                <div class="data-form-btn data-form-accept form-submit-validation" id="accept_update_data">accept</div>
            </div>
        </form>
    </div>

    <div class="data-popup_add">
        <div class="data-popup-title">Thêm dữ liệu</div>
        <div class="data-popup-close2"><i class='bx bx-x'></i></div>
        <form action="" class="data-form admin-form form-validation">
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-phone">Số tài khoản</label>
                <input class="data-form-input" type="text" name="customer-stk_insert" id="customer-stk_insert">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-phone">Số điện thoại</label>
                <input class="data-form-input" type="text" name="customer-phone_insert" id="customer-phone_insert">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-mail">Email</label>
                <input class="data-form-input" type="text" name="customer-mail_insert" id="customer-mail_insert">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-username">Username</label>
                <input class="data-form-input" type="text" name="customer-username_insert"
                    id="customer-username_insert">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-name">Họ Và Tên</label>
                <input class="data-form-input" type="text" name="customer-name_insert" id="customer-name_insert">
            </div>
            <div class="form-group data-form-group">
                <label class="data-form-label" for="customer-pass">Mật khẩu</label>
                <input class="data-form-input" type="text" name="customer-pass_insert" id="customer-pass_insert">
            </div>
            <div class="form-submit data-form-submit">
                <div class="data-form-btn data-form-clear">clear all</div>
                <div class="data-form-btn data-form-accept form-submit-validation" id="accept_insert_data">accept</div>
            </div>
        </form>
    </div>

    <div class="data-wrapper">
        <div class="data-control">
            <div class="data-control-all">
                <div class="data-control-input">
                    <input type="checkbox" name="" id="check-all">
                </div>
                <label for="check-all">select all</label>
                <div class="data-control-count">(0 selected)</div>
            </div>
            <div class="data-control-add">
                <div class="data-control-add-btn">
                    <i class='bx bx-book-add'></i>
                    <span>Thêm mới</span>
                </div>
            </div>
        </div>
        <style>
            .data-title .data-title-name {
                width: 200px;
            }

            .data-value .data-value-name {
                width: 200px;
                font-weight: 600;
            }

            .data-title .data-title-dob {
                width: 100px;
            }

            .data-value .data-value-dob {
                width: 100px;
            }

            .data-title .data-title-mail {
                width: 200px;
            }

            .data-value .data-value-mail {
                width: 200px;
            }

            .data-title .data-title-address {
                width: 350px;
            }

            .data-value .data-value-address {
                width: 350px;
            }

            .data-title .data-title-pass {
                width: 100px;

            }

            .data-value .data-value-pass {
                width: 100px;
                margin-left: 50px;
            }
        </style>
        <div class="data-table">
            <ul class="data-box data-title">
                <li class="data-title-item data-title-check">chọn</li>
                <li class="data-title-item data-title-name" style="width: 170px;">Họ tên</li>
                <li class="data-title-item data-title-dob" style="width: 150px;">Ngày sinh</li>
                <li class="data-title-item data-title-cmnd" style="width: 150px;">CMND</li>
                <li class="data-title-item data-title-phone" style="width: 150px;">SĐT</li>
                <li class="data-title-item data-title-mail" style="width: 300px;">Email</li>
                <li class="data-title-item data-title-address" style="width: 200px;">Địa chỉ</li>
                <li class="data-title-item data-title-pass" style="width: 100px;">Mật khẩu</li>
                <li class="data-title-item data-title-action">Hành động</li>
            </ul>
            <div class="data-box data-value">
                {% for user in users %}
                <ul class="data-value-row">
                    <li class="data-value-item data-value-check"><input type="checkbox" name="" id=""></li>
                    <li class="data-value-item data-value-name" style="width: 170px;">{{ user.HoVaTen }}</li>
                    <li class="data-value-item data-value-dob" style="width: 150px;">{{ user.NgaySinh }}</li>
                    <li class="data-value-item data-value-cmnd" style="width: 150px;">{{ user.STK }}</li>
                    <li class="data-value-item data-value-phone" style="width: 150px;">{{ user.SDT }}</li>
                    <li class="data-value-item data-value-mail" style="width: 300px;">{{ user.Email }}</li>
                    <li class="data-value-item data-value-address" style="width: 200px;">{{ user.DiaChi.Duong }}, {{
                        user.DiaChi.Phuong }}, {{ user.DiaChi.Quan }}, {{ user.DiaChi.ThanhPho }}</li>
                    <li class="data-value-item data-value-pass" style="width: 100px;">********</li>
                    <li class="data-value-item data-value-action">
                        <div class="data-value-action-button">
                            <div class="data-value-action-edit" id="edit-btn">
                                <span data-sdt="{{ user.SDT }}">sửa</span>
                                <i class='bx bxs-edit'></i>
                            </div>
                            <div class="data-value-action-remove" data-sdt="{{ user.SDT }}">
                                <span>xóa</span>
                                <i class='bx bxs-trash'></i>
                            </div>
                        </div>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="data-navigation"></div>
    </div>
</section>
<!-- error -->
<section class="error">
    <ul class="error-list">
        <li class="error-item">fs</li>
    </ul>
</section>

<script>
    let dataAdmin = document.querySelector('.data');

    let dataAddBtn = document.querySelector('.data-control-add');
    let dataEditBtn = document.querySelectorAll('.data-value-action-edit');
    let dataRemoveBtn = document.querySelectorAll('.data-value-action-remove');

    let closePopup = document.querySelector('.data-popup-close');
    let closePopup2 = document.querySelector('.data-popup-close2');
    let closeConfirm = document.querySelector('.data-confirm-cancel');

    dataAddBtn.onclick = () => {
        dataAdmin.classList.add('data-popup-active2');
    }

    dataEditBtn.forEach((element, index) => {
        element.onclick = function () {
            dataAdmin.classList.add('data-popup-active');
            var phone = this.querySelector('span').dataset.sdt;
            fetch('/update_data_user?phone=' + phone)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('customer-phone').value = data.SDT;
                    document.getElementById('customer-mail').value = data.Email;
                    document.getElementById('customer-username').value = data.Username;
                    document.getElementById('customer-name').value = data.HoVaTen;
                    document.getElementById('customer-cmnd').value = data.Password;
                    document.getElementById('customer-dob').value = data.NgaySinh;
                    document.getElementById('customer-balance').value = data.balance;
                })
                .catch(error => console.error('Error:', error));


        };
    });

    dataRemoveBtn.forEach((element, index) => {
        element.onclick = () => {
            dataAdmin.classList.add('data-confirm-active');
        }
    })

    closePopup.onclick = () => {
        dataAdmin.classList.remove('data-popup-active');
    }

    closePopup2.onclick = () => {
        dataAdmin.classList.remove('data-popup-active2');
    }


    closeConfirm.onclick = () => {
        dataAdmin.classList.remove('data-confirm-active');
    }
</script>
<script>

    var acceptButton = document.getElementById("accept_update_data");

    acceptButton.addEventListener("click", function () {
        updateUser();
    });
    function updateUser() {

        // Lấy giá trị từ các input trong form
        var phone = document.getElementById('customer-phone').value;
        var email = document.getElementById('customer-mail').value;
        var username = document.getElementById('customer-username').value;
        var hoVaTen = document.getElementById('customer-name').value;
        var password = document.getElementById('customer-cmnd').value;
        var ngaySinh = document.getElementById('customer-dob').value;
        var balance = document.getElementById('customer-balance').value;

        // Gửi dữ liệu lên máy chủ
        fetch('/update_user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                sdt: phone,
                email: email,
                username: username,
                ho_va_ten: hoVaTen,
                password: password,
                ngay_sinh: ngaySinh,
                balance: balance
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Cập nhật dữ liệu thành công");
                    window.location.reload();
                } else {
                    alert("Cập nhật dữ liệu thất bại: " + data.error);
                    console.error("Cập nhật dữ liệu thất bại:", data.error);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var acceptInsertButton = document.getElementById("accept_insert_data");

        acceptInsertButton.addEventListener("click", function () {
            insertUser();
        });

        function insertUser() {
            // Lấy giá trị từ các input trong form
            var stk = document.getElementById('customer-stk_insert').value;
            var phone = document.getElementById('customer-phone_insert').value;
            var email = document.getElementById('customer-mail_insert').value;
            var username = document.getElementById('customer-username_insert').value;
            var hoVaTen = document.getElementById('customer-name_insert').value;
            var password = document.getElementById('customer-pass_insert').value;

            // Gửi dữ liệu lên máy chủ
            fetch('/insert_user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    stk: stk,
                    phone: phone,
                    email: email,
                    username: username,
                    ho_va_ten: hoVaTen,
                    password: password
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Thêm dữ liệu người dùng thành công");
                        window.location.reload();
                    } else {
                        alert("Thêm dữ liệu người dùng thất bại: " + data.error);
                        console.error("Thêm dữ liệu người dùng thất bại:", data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var deleteButtons = document.querySelectorAll('.data-value-action-remove');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var sdt = button.dataset.sdt;

                // Hiển thị cửa sổ xác nhận
                var confirmPopup = document.querySelector('.data-confirm');
                confirmPopup.classList.add('data-confirm-active');

                // Gắn sự kiện click cho nút "Accept"
                var acceptButton = document.querySelector('.data-confirm-remove');
                acceptButton.addEventListener('click', function () {
                    // Gửi yêu cầu DELETE khi người dùng nhấn "Accept"
                    fetch('/delete_user', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            sdt: sdt
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert("Xóa người dùng thành công");
                                window.location.reload();
                            } else {
                                alert("Xóa người dùng thất bại: " + data.error);
                                console.error("Xóa người dùng thất bại:", data.error);
                            }
                        })
                        .catch(error => console.error('Error:', error));

                    // Đóng cửa sổ xác nhận
                    confirmPopup.classList.remove('data-confirm-active');
                });

                // Gắn sự kiện click cho nút "Cancel"
                var cancelButton = document.querySelector('.data-confirm-cancel');
                cancelButton.addEventListener('click', function () {
                    // Đóng cửa sổ xác nhận nếu người dùng nhấn "Cancel"
                    confirmPopup.classList.remove('data-confirm-active');
                });
            });
        });
    }); 
</script>
{% endblock %}