<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_admin.css') }}">
</head>

<body>
    <div id="admin_core">
        <div>
            <div class="wrapper wrapper-full-page">
                <div class="full-page login-page" data-color="black">
                    <div class="content">
                        <div class="login-container">
                            <div class="login-banner"></div>
                            <div class="ant-spin-nested-loading">
                                <div class="ant-spin-container">
                                    <div class="login-content">
                                        <div>
                                            <h2>FUTA Bus - Admin</h2>
                                            <p>Ứng dụng quản lý vé xe buýt</p>
                                            <form method="POST" action="/login_admin">
                                                <div class="login-input-container">
                                                    <div class="label"><img
                                                            src="https://admin.futacitybus.vn/static/images/vie-flag.6a18b559.png">(+84)
                                                    </div>
                                                    <div class="input"><input inputmode="numeric" type="text" name="phone"
                                                            placeholder="Nhập số điện thoại" maxlength="12" value="">
                                                    </div>
                                                </div>
                                                <div class="password-input-container ">
                                                    <div class="label">MẬT KHẨU</div>
                                                    <div class="input"><input type="password" name="password"
                                                            placeholder="Nhập mật khẩu" value="">
                                                        <div class="password-visible-toggle"><span role="img"
                                                                aria-label="eye" tabindex="-1"
                                                                class="anticon anticon-eye"><svg viewBox="64 64 896 896"
                                                                    focusable="false" data-icon="eye" width="1em"
                                                                    height="1em" fill="currentColor" aria-hidden="true">
                                                                    <path
                                                                        d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
                                                                    </path>
                                                                </svg></span></div>
                                                    </div>
                                                </div>
                                                <div class="login-buttons">
                                                    <a href="">
                                                        <p style="text-decoration: none;">Quên mật khẩu ?</p>
                                                    </a>
                                                    <button type="submit"
                                                        class="ant-btn ant-btn-primary ant-btn-round ant-btn-block"
                                                        style="cursor: pointer;"><span>Đăng
                                                            nhập</span>
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full-page-background"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>