<header class="header">
    <div class="header-toggle">
        <i class='bx bx-menu'></i>
    </div>
    <div class="header-search">
        <input type="text" class="header-search-input" placeholder="Tìm kiếm ở đây ...">
        <i class='bx bx-search header-search-icon'></i>
    </div>
    <div class="header-user">
        <img src="https://secure.webtoolhub.com/static/resources/icons/set108/b5cdab07.png"
            alt="" class="header-user-avatar">
        <div class="header-user-info">
            <h3 class="header-user-name">{{ session.fullName }}</h3>
            <p class="header-user-position">Member Tentacles</p>
        </div>
        <div class="header-user-notify">
            <div class="header-user-notify-number">5</div>
            <i class='bx bxs-bell'></i>
        </div>
        <div class="header-profile">
            <div class="header-profile-top">
                <div class="header-profile-wel">
                    <p class="header-profile-hi">Hi {{ session.fullName }}</p>
                    <p class="header-profile-subhi">Good Morning!</p>
                </div>
                <div class="header-profile-cog"><i class='bx bx-cog'></i></div>
            </div>
            <div class="header-profile-avatar">
                <img src="https://secure.webtoolhub.com/static/resources/icons/set108/b5cdab07.png"
                    alt="">
                <p class="header-profile-name">{{ session.fullName }}</p>
                <p class="header-profile-position">Quản trị viên</p>
            </div>
            <ul class="header-profile-notify">
                <li class="header-profile-item">
                    <h5 class="header-profile-n-title">Lorem, ipsum dolor.</h5>
                    <p class="header-profile-n-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nostrum, vel!</p>
                </li>
            </ul>
        </div>
    </div>
</header>
