@charset "UTF-8";
@font-face {
  font-family: "SFProText", sans-serif;
  font-weight: 300;
  src: url(./../fonts/FontsFree-Net-SFProText-Light-1.ttf);
}
@font-face {
  font-family: "SFProText", sans-serif;
  font-weight: 600;
  src: url(./../fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}
@font-face {
  font-family: "SFProText", sans-serif;
  font-weight: 900;
  src: url(./../fonts/FontsFree-Net-SFProText-Semibold-1.ttf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 100;
  src: url(./../fonts/SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 300;
  src: url(./../fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 500;
  src: url(./../fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 600;
  src: url(./../fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 700;
  src: url(./../fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
  font-family: "SFProVietsub";
  font-weight: 900;
  src: url(./../fonts/SF-Pro-Display-Heavy.otf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  
}


.container_pay {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 15px;
}

.mini-container_pay {
  max-width: 470px;
  margin: 0 auto;
  padding: 0 10px;
}
.ticket {
  padding: 2.5rem 0 3rem;
}
.ticket-wrapper {
  border-radius: 8px;
  border: 1px solid #dce1e6;
}
.ticket-title {
  padding: 1.9rem 0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  text-indent: -0.1rem;
  background-color: #f15a24;
  border-radius: 8px 8px 0 0;
}
.ticket-customer-sub, .ticket-route-sub {
  padding: 1.2rem 2.4rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #141414;
  background-color: #f6f6f6;
  border-top: 1px solid rgba(151, 151, 151, 0.5);
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}
.ticket-route-sub {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  column-gap: 0.5rem;
}
.ticket-route-sub-start, .ticket-route-sub-end {
  text-transform: capitalize;
}
.ticket-block-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: normal;
}
.ticket-block-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: normal;
  width: 50%;
  padding: 1.3rem 3.2rem;
}
.ticket-block-label {
  width: 33.3333333333%;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.ticket-block-value {
  width: 66.6666666667%;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  color: #141414;
  padding-left: 1rem;
}
.ticket-route {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.ticket-route-routes-value {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  column-gap: 0.5rem;
}
.ticket-route-time-value, .ticket-route-seats-value {
  font-family: "SFProVietsub";
  font-weight: 700;
  font-size: 1.6rem;
  color: #00613d;
}
.ticket-route-pickup-value {
  line-height: 1.5;
}
.ticket-cost {
  text-align: right;
  padding: 2rem 2.5rem;
  background-color: #f6f6f6;
  border-top: 1px solid rgba(151, 151, 151, 0.5);
  border-radius: 0 0 8px 8px;
}
.ticket-cost-sub {
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #141414;
}
.ticket-cost-value {
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  font-size: 2.2rem;
  font-weight: 500;

  color: #ef5222;
}
.ticket-cost-value span {
  display: inline-block;
  font-size: 1.8rem;
  transform: translateY(-0.8rem);
  margin-left: 0.5rem;
}
@media screen and (max-width: 767.8px) {
  .ticket-title {
    font-size: 1.5rem;
  }
  .ticket-block {
    display: block;
  }
  .ticket-block-item {
    width: 100%;
  }
}
@media screen and (max-width: 599.8px) {
  .ticket-route-sub {
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: 479.8px) {
  .ticket-customer-sub, .ticket-route-sub {
    font-size: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ticket-route-sub {
    flex-wrap: wrap;
  }
  .ticket-block {
    display: block;
  }
  .ticket-block-item {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    font-size: 1.3rem;
  }
  .ticket-block-label {
    font-size: 1.3rem;
  }
  .ticket-block-value {
    flex-wrap: wrap;
    word-wrap: break-word;
  }
}

.payment {
  margin-bottom: 3rem;
}
.payment-title {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  color: #00613d;
  margin-bottom: 2.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.payment-list {
  list-style-type: none;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: normal;
  gap: 2rem 3rem;
}
.payment-item {
  position: relative;
  width: calc(33.3333333333% - 3rem - 1.3333333333rem);
  padding: 1rem;
  border: 1px dashed #dce1e6;
  border-radius: 8px;
  background-color: #f6f6f6;
  cursor: pointer;
}
.payment-item.payment-method-active {
  border: 1px dashed #ef5222;
  background-color: rgba(239, 82, 34, 0.15);
}
.payment-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  column-gap: 0.5rem;
}
.payment-image {
  height: 4rem;
  object-fit: contain;
  margin-top: 0.8rem;
}
.payment-des {
  color: #141414;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  margin: 1.2rem 0;
  text-align: center;
}
.payment-radio {
  width: 2.2rem;
  height: 2.2rem;
  appearance: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  border: 2px solid #a2abb3;
  border-radius: 50%;
  overflow: hidden;
}
.payment-radio:checked {
  border: none;
  background-color: #ef5222;
}
.payment-radio:checked + label {
  color: #ef5222;
}
.payment-radio:checked::after {
  display: inline-block;
  content: "✓";
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.payment-linking {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.payment-linking.type-international-active .payment-linking-text {
  display: block;
}
.payment-linking.type-international-active .payment-international {
  display: flex;
}
.payment-linking.type-international-active .payment-inland {
  display: none;
}
.payment-linking.type-inland-active .payment-linking-text {
  display: block;
}
.payment-linking.type-inland-active .payment-international {
  display: none;
}
.payment-linking.type-inland-active .payment-inland {
  display: flex;
}
.payment-linking-text {
  display: none;
  font-family: "SFProVietsub";
  font-size: 1.7rem;
  font-weight: 700;
  color: #ef5222;
  margin-bottom: 2.8rem;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
}
.payment-international, .payment-inland {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  gap: 1.5rem;
  display: none;
}
.payment-international-item, .payment-inland-item {
  width: calc(16.6666666667% - 1.25rem);
  padding: 0.5rem;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  place-content: center;
  background-color: white;
  border: 1px solid #dde2e8;
}
.payment-international-item img, .payment-inland-item img {
  height: 4.9rem;
  object-fit: contain;
}
@media screen and (max-width: 767.8px) {
  .payment-item {
    width: calc(50% - 1.5rem - 0.6666666667rem);
  }
}
@media screen and (max-width: 509.8px) {
  .payment-list {
    padding: 0 2rem;
    display: block;
  }
  .payment-item {
    width: 100%;
  }
  .payment-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .payment-international, .payment-inland {
    flex-wrap: wrap;
  }
  .payment-international-item, .payment-inland-item {
    width: calc(33.3333333333% - 1rem);
  }
  .payment-international-item img, .payment-inland-item img {
    height: 3.5rem;
  }
}

.step-nav {
  margin-bottom: 4.5rem;
}
.step-nav-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}
.step-nav-button {
  position: relative;
  width: calc(50% - 1.5rem);
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: normal;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  cursor: pointer;
  border-radius: 2.5rem;
  font-size: 1.6rem;
}
.step-nav-button i {
  font-size: 1.8rem;
}
.step-nav-button:first-child {
  color: #111111;
  border: 1px solid #c0c6cc;
}
.step-nav-button:first-child i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
}
.step-nav-button:last-child {
  color: white;
  border: 1px solid #00613d;
  background-color: #00613d;
}
@media screen and (max-width: 599.8px) {
  .step-nav-button {
    font-size: 1.4rem;
  }
  .step-nav-button:first-child i {
    left: 1.5rem;
  }
}

.error {
  background-color: #ef5222;
  color: white;
  letter-spacing: 0.05rem;
  text-indent: -0.05rem;
  font-size: 1.3rem;
  padding: 2rem;
  max-width: fit-content;
  position: fixed;
  top: 50%;
  right: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transform: translateX(calc(100% + 1.6rem));
  transition: all 0.2s ease-out;
}
.error.error-validation-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.error-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal;
}
.error-item {
  line-height: 1.5;
}
