<header>
    <div id="top">
        <div class="container">
            <div class="support"><i class="fa fa-phone"></i> Tổng đài hỗ trợ: <span>0902 1818 52</span></div>
                <ul>
                    <!-- <li><a href="#">EN</a></li> -->
                    <!-- <li><a href="{{ url_for('login') }}">Đăng nhập</a></li>
                    <li><a href="{{ url_for('signup') }}">Đăng ký</a></li> -->

                </ul>
            </div>
    </div>
    <div id="header-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                    <h1 id="logo">
                        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" /></a>
                    </h1>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="collapse"
                            data-target="" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Trang chủ</a>
                    </div>
                    <style>
                        .auth_user{
                            margin-left: 350px;
                            margin-top: 15px;
                            cursor: pointer;
                            
                            }

                            .auth_user span{
                            font-size: 16px;
                            
                            }
                    </style>
                    <nav class = "auth_user" onmouseover="showDiv()" onmouseout="hideDiv()">
                        {% if session.logged_in %}
                        <script>
                            var logged_in = true;
                        </script>
                            <img src="https://futabus.vn/_next/static/media/person.abc5e83c.svg" alt="" style="width:25px;margin-top: -5px;">
                            <span style = "font-size: 14px;margin-left:5px;">{{ session.username }}</span>
                            <img src="{{ url_for('static', filename='img/down.png') }}" alt="" style = "width:13px;">
                        {% else %}
                        <script>
                            var logged_in = false;
                        </script>
                        <span><a href="{{ url_for('login') }}">Đăng nhập</a></span>
                            <span>/</span>
                            <span><a href="{{ url_for('signup') }}">Đăng ký</a></span>
                            
                        {% endif %}
                        <div class="spacer"></div>
                        <div id="hiddenDiv" class="hiddenDiv">
                            <ul class="custom-list">
                                <li><img src="https://futabus.vn/images/header/profile/futaPay.svg" alt=""><span><a href="{{ url_for('futapay') }}">FUTAPay</a></span></li>
                                <li><img src="https://futabus.vn/images/header/profile/Profile.svg" alt=""><span><a href="{{ url_for('profile') }}">Thông tin tài khoản</a></span></li>
                                <li><img src="https://futabus.vn/images/header/profile/History.svg" alt=""><span><a href="{{ url_for('profile') }}">Lịch sử mua vé</a></span></li>
                                <li><img src="https://futabus.vn/images/header/profile/Address.svg" alt=""><span><a href="{{ url_for('profile') }}">Địa chỉ của bạn</a></span></li>
                                <li><img src="https://futabus.vn/images/header/profile/Password.svg" alt=""><span><a href="{{ url_for('profile') }}">Đặt lại mật khẩu</a></span></li>
                                <li><img src="	https://futabus.vn/images/header/profile/Logout.svg" alt=""><span><a href="{{ url_for('logout') }}">Đăng xuất</a></span></li>
                            </ul>
                        </div>
                    </nav>
                  
                    <nav id="main-nav" class="collapse navbar-collapse clearfix" style="margin-bottom: -10px;margin-left:4px;">
                        <ul>
                            <li><a href="{{ url_for('promotion') }}">Khuyến mãi</a></li>
                            <li><a href="{{ url_for('schedule') }}">Lịch trình</a></li>
                            <li><a href="{{ url_for('contact') }}">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>

</header>

<script>
function showDiv() {
    // Kiểm tra nếu logged_in là false thì ẩn hiddenDiv
    if (!logged_in) {
        document.getElementById("hiddenDiv").style.display = "none";
    } else {
        document.getElementById("hiddenDiv").style.display = "block";
    }
}

function hideDiv() {
    document.getElementById("hiddenDiv").style.display = "none";
}

</script>