{% extends 'user/layouts.html' %} 
{% block content %} 
<section id="body-content">
    <div class="container" id="login-page">
         
         <div id="top-login" class="clearfix hidden-sm">
             
             <div id="login-top-bar-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                 <div class="row">
                     <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                         <div class="text-uppercase"><span class="relative"><span class="sprite safe"></span>An toàn</span></div>
                         
                     </div>
                     <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                         <div class="text-uppercase"><span class="relative"><span class="sprite bus"></span>Luôn có tuyến</span></div>
                 
                     </div>
                     <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                         <div class="text-uppercase"><span class="relative"><span class="sprite faq"></span>Hỏi đáp</span></div>
                 
                     </div>
                 </div>
                 
             </div>
             
              <div id="login-top-bar-right" class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                 <p class="text-uppercase">Hãy tải app để chúng tôi phục vụ bạn tốt hơn <span class="sprite ico-app hidden-xs"></span> </p>
                 
             </div>
         </div>
         <div id="body-register" class="row">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">   
                 <img src="{{ url_for('static', filename='res/banner-dangky.jpg') }}">
             </div>
             
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                 <div id="register-form-wrapper" class="border padding10 clearfix">
                    <form action="" id="register-form" class="">
                        <h3 class="text-uppercase" >Đăng ký</h3>
                        <p class="text-muted">
                            <small>Lưu ý: Không hỗ trợ hotmail và outlook email<br>
                            Chỉ với 1 tài khoản Futabus ID, tham gia được tất cả các chương trình Futabus Lines
                            </small> 
                            
                        </p>
                        <div class="form-group">
                            <label for="">Địa chỉ email *</label>
                            <input type="email" name="" class="form-control"/>
                        </div>
                        <div class="form-group">
                            
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                    <label for="">Mật khẩu *</label>
                                     <input type="password" value="123456" name="" class="form-control"/>
                                 </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                     <label for="">Nhắc lại mật khẩu *</label>
                                     <input type="password" value="123456" name="" class="form-control"/>
                                 </div>
                            </div>
                           
                        </div>
                        <h3 class="text-uppercase">Thông tin khác</h3>
                        <div class="form-group">
                             <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3 col-ms-12">
                                    <label for="">Ngày sinh *</label>
                                    <select name="" id="" class="form-control">
                                        <option>01</option>
                                        <option>01</option>
                                        <option>01</option>
                                    </select>
                                 </div>
                                 <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3 col-ms-12">
                                     <label for="">Tháng sinh *</label>
                                     <select name="" id="" class="form-control">
                                        <option>Tháng 01</option>
                                        <option>Tháng 01</option>
                                        <option>Tháng 01</option>
                                    </select>
                                 </div>
                                 <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3 col-ms-12">
                                     <label for="">Năm sinh *</label>
                                     <select name="" id="" class="form-control">
                                        <option>Năm 2015</option>
                                        <option>Năm 2015</option>
                                        <option>Năm 2015</option>
                                        <option>Năm 2015</option>
                                       
                                    </select>
                                 </div>
                                 <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3 col-ms-12">
                                    <p>&nbsp;</p>
                                    <label for="">
                                        <input type="radio" name="gender"/>
                                        Nữ
                                    </label>
                                      <label for="">
                                        <input type="radio" name="gender" class=""/>
                                        Nam
                                    </label>
                                 </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                    <label for="">Số di động*</label>
                                     <input type="phone" name="" class="form-control"/>
                                 </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                     <label for="">Số CMNN *</label>
                                     <input type="text" value="" name="" class="form-control"/>
                                 </div>
                            </div>
                           
                        </div>
                         <div class="form-group clearfix">
                             <button class="btn btn-primary pull-right">HOÀN TẤT</button>
                            
                         </div>
                          <p class="clearfix"> <small class="pull-right">* Mục bắt buộc </small> </p>
                          <p class="text-center" >Nếu bạn đã có FUTA ID. CLick <a href="#">đây</a> để đăng nhập</p>
                    </form>
                 </div>
             </div>
         </div>
        
     </div>
     <br>
     <br>
 </section>
 {% endblock %}
